nav ul {
  list-style: none; /*delete li markers*/
  margin: 0; /*delete margins*/
  padding-left: 0; /*delete left padding*/
}

nav li {
	display: inline;
}

progress {
}

.logo {
	display: inline-block;
	float:left;
}

.footer_txt {
	display: inline-block;
}